{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - css: A list of CSS files for the current page.
 * - head: Markup for the HEAD element (including meta tags, keyword tags, and
 *   so on).
 * - head_title: A modified version of the page title, for use in the TITLE tag.
 * - head_title_array: List of text elements that make up the head_title
 *   variable. May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - styles: Style tags necessary to import all necessary CSS files in the head.
 * - scripts: Script tags necessary to load the JavaScript files and settings
 *   in the head.
 * - db_offline: A flag indicating if the database is offline.
 *
 * @see template_preprocess_html()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'node--type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
      <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/themes/saunacamp/apple-touch-icon-57x57.png" />
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/themes/saunacamp/apple-touch-icon-114x114.png" />
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/themes/saunacamp/apple-touch-icon-72x72.png" />
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/themes/saunacamp/apple-touch-icon-144x144.png" />
      <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/themes/saunacamp/apple-touch-icon-60x60.png" />
      <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/themes/saunacamp/apple-touch-icon-120x120.png" />
      <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/themes/saunacamp/apple-touch-icon-76x76.png" />
      <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/themes/saunacamp/apple-touch-icon-152x152.png" />
      <link rel="icon" type="image/png" href="/themes/saunacamp/favicon-196x196.png" sizes="196x196" />
      <link rel="icon" type="image/png" href="/themes/saunacamp/favicon-96x96.png" sizes="96x96" />
      <link rel="icon" type="image/png" href="/themes/saunacamp/favicon-32x32.png" sizes="32x32" />
      <link rel="icon" type="image/png" href="/themes/saunacamp/favicon-16x16.png" sizes="16x16" />
      <link rel="icon" type="image/png" href="/themes/saunacamp/favicon-128.png" sizes="128x128" />
      <meta name="application-name" content="&nbsp;"/>
      <meta name="msapplication-TileColor" content="#FFFFFF" />
      <meta name="msapplication-TileImage" content="/themes/saunacamp/mstile-144x144.png" />
      <meta name="msapplication-square70x70logo" content="/themes/saunacamp/mstile-70x70.png" />
      <meta name="msapplication-square150x150logo" content="/themes/saunacamp/mstile-150x150.png" />
      <meta name="msapplication-wide310x150logo" content="/themes/saunacamp/mstile-310x150.png" />
      <meta name="msapplication-square310x310logo" content="/themes/saunacamp/mstile-310x310.png" />

      {{ head }}
    <title>{{ head_title }}</title>
    {{ styles }}
    {{ scripts }}
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,900' rel='stylesheet' type='text/css'>
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>
    {{ page_top }}
    {{ page }}
    {{ page_bottom }}
    {{ scripts_bottom }}
  </body>
</html>
